<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DriverMapper">

    <insert id="register">
        insert into dsaa_test.drivers(id, name, pwd, drivingAge)
        VALUE (#{id}, #{name}, #{pwd}, #{drivingAge});
    </insert>

    <update id="login">
        update cars set isOnline = true where driverId in (
            select id
            from drivers
            where id = #{id} and pwd = #{pwd}
        );
    </update>

    <select id="getAllRegistered" resultType="Driver">
        select * from drivers;
    </select>

</mapper>