<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DriverMapper">

    <insert id="register">
        insert into dsaa_test.drivers(id, name, pwd, drivingAge)
        VALUE (#{id}, #{name}, #{pwd}, #{drivingAge});
    </insert>

<!--    <select id="login" resultType="Driver">-->
<!--        select * from drivers where id = #{id} and pwd = #{pwd}-->
<!--    </select>-->
    <select id="login" resultMap="DriverResultMap">
        select * from drivers d, cars c
        where d.id = #{id} and d.pwd = #{pwd}
    </select>
    <resultMap id="DriverResultMap" type="Driver">
        <result property="car.carId" column="carId"/>
        <result property="car.driverId" column="driverId"/>
    </resultMap>

    <select id="searchAll" resultType="Driver">
        select * from drivers
    </select>

</mapper>