<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace属性绑定一个对应的Dao/Mapper接口 -->
<mapper namespace="xyz.wuhang.dao.UserMapper">
    <!-- 这里不能写注释？？ -->
    <!-- id属性填的就是重写方法getUserList()的方法名 -->
    <!-- resultType是最常用的 -->
    <!-- resultType属性填的是重写方法返回类型List<User>的泛型参数，要用全限定类名 -->
    <select id="getUserList" resultType="xyz.wuhang.pojo.User">
        select * from mybatis.user
    </select>
</mapper>