<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dbtermprj.mapper.ManagerMapper">
    <insert id="add" parameterType="com.example.dbtermprj.entity.Manager">
        insert into manager(id, name, gender, age, phone, warehouseId, pwd)
        values (#{id}, #{name}, #{gender}, #{age}, #{phone}, #{warehouseId}, #{pwd});
        insert into warehouse_manager(warehouseId, managerId)
        values (#{warehouseId}, #{id})
    </insert>
    
    <delete id="deleteById">
        delete from manager
        where id = #{id};
        delete from warehouse_manager
        where managerId = #{id}
    </delete>

    <update id="updateById" parameterType="com.example.dbtermprj.entity.Manager">
        update manager
        set name = #{name},
            gender = #{gender},
            age = #{age},
            phone = #{phone},
            warehouseId = #{warehouseId}
        where id = #{id};
        update warehouse_manager
        set warehouseId = #{warehouseId}
        where managerId = #{id}
    </update>

    <select id="getById" resultType="com.example.dbtermprj.entity.Manager">
        select * from manager
        where id = #{id}
    </select>

    <select id="getAll" resultType="com.example.dbtermprj.entity.Manager">
        select * from manager
    </select>

    <select id="getByWarehouseId" resultType="com.example.dbtermprj.entity.Manager">
        select * from manager
        where warehouseId = #{warehouseId}
    </select>

    <select id="login" resultType="com.example.dbtermprj.entity.Manager">
        select * from manager
        where id = #{id} and pwd = #{pwd}
    </select>
</mapper>