<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dbtermprj.mapper.PartMapper">
    <insert id="add" parameterType="com.example.dbtermprj.entity.Part">
        insert into part(id, name, size, number, warehouseId)
        values (#{id}, #{name}, #{size}, #{number}, #{warehouseId});
        insert into warehouse_part(warehouseId, partId)
        values (#{warehouseId}, #{id})
    </insert>
    
    <delete id="deleteById">
        delete from part
        where id = #{id};
        delete from warehouse_part
        where partId = #{id}
    </delete>

    <update id="updateById" parameterType="com.example.dbtermprj.entity.Part">
        update part
        set name = #{name},
            size = #{size},
            number = #{number},
            warehouseId = #{warehouseId}
        where id = #{id};
        update warehouse_part
        set warehouseId = #{warehouseId}
        where partId = #{id}
    </update>

    <select id="getById" resultType="com.example.dbtermprj.entity.Part">
        select * from part
        where id = #{id}
    </select>

    <select id="getAll" resultType="com.example.dbtermprj.entity.Part">
        select * from part
    </select>

    <select id="getByWarehouseId" resultType="com.example.dbtermprj.entity.Part">
        select * from part
        where warehouseId = #{warehouseId}
    </select>
</mapper>