<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 最开始是这样的，官方推荐的最简单的配置文件 -->
    <!--<?xml version="1.0" encoding="UTF-8"?>-->
    <!--<beans xmlns="http://www.springframework.org/schema/beans"-->
    <!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
    <!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
    <!--        https://www.springframework.org/schema/beans/spring-beans.xsd">-->
    <!--    -->
    <!--</beans>-->

<!--    xmlns:context="http://www.springframework.org/schema/context"-->
<!--    xsi:schemaLocation="-->
<!--    http://www.springframework.org/schema/context-->
<!--    https://www.springframework.org/schema/context/spring-context.xsd"-->
<!--    "-->
    <context:component-scan base-package="textbook.chapter05.declaration"/>

    <bean id="dataSource5.3" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/javaee_test"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource5.3"/>
    </bean>

    <bean id="transactionManager5.3" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource5.3"/>
    </bean>

<!--    xmlns:tx="http://www.springframework.org/schema/tx"-->
<!--    xsi:schemaLocation="-->
<!--    http://www.springframework.org/schema/tx-->
<!--    https://www.springframework.org/schema/tx/spring-tx.xsd-->
<!--    "-->
    <tx:advice id="advice5.3" transaction-manager="transactionManager5.3">
        <tx:attributes>
            <!-- 这里不是用来配置哪些方法要拦截，哪些方法不要的，而是针对被拦截的方法，自定义一些具体的操作 -->
            <tx:method name="*"/>
<!--            <tx:method name="tes*" read-only="true"/>-->
<!--            <tx:method name="*est" read-only="true"/>-->
<!--            <tx:method name="an unexisted method" read-only="true"/>-->
        </tx:attributes>
    </tx:advice>

<!--    xmlns:aop="http://www.springframework.org/schema/aop"-->
<!--    xsi:schemaLocation="-->
<!--    http://www.springframework.org/schema/tx-->
<!--    https://www.springframework.org/schema/tx/spring-tx.xsd-->
<!--    "-->
    <aop:config>
        <aop:pointcut id="pointcut5.3" expression="execution(* textbook.chapter05.declaration.TestServiceCh0503Impl.test())"/>
        <aop:advisor advice-ref="advice5.3" pointcut-ref="pointcut5.3"/>
    </aop:config>

    <!-- 把上面的tx:advice和aop:config注释掉就可以用这个，效果完全一样 -->
<!--    <tx:annotation-driven transaction-manager="transactionManager5.3"/>-->
</beans>
